.idea/
.ipynb_checkpoints/
sketch_data/
sketch_info/
.DS_Store
__pycache__/
davinci_data/
*.gif
*samples*/
*weights/
cifar/
mnist/
tutorial_dcgan.ipynb
final.docx
edges2shoes/
celeba/
ut-zap50k-images-square/
tutorial2.ipynb
cat.csv
cat/
*.docx
dog.csv
dog/
notes.txt
