.idea/
.ipynb_checkpoints/
sketch_data/
sketch_info/
.DS_Store
__pycache__/
davinci_data/
*.gif
*samples*/
*weights/
cifar/
mnist/
tutorial_dcgan.ipynb
final.*
edges2shoes
celeba/
ut-zap50k-images-square/
